---
layout: "layouts/base.njk"
---

  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav class="navbar has-shadow is-spaced">
        <div class="navbar-brand mob-navbar">
          <div class="mob-icons is-hidden-desktop">
            <a href="#" class="navbar-item">
              <span class="icon has-text-link">
                <i class="icon-facebook-f"></i>
              </span>
            </a>
            <a href="#" class="navbar-item">
              <span class="icon has-text-danger">
                <i class="icon-instagram"></i>
              </span>
            </a>
          </div>
          <a class="navbar-item" href="https://www.upxports.com">
            <picture class="has-custom-height">
              <source type="image/webp" srcset="assets/img/logo.webp">
              <source type="image/png" srcset="assets/img/logo.png">
              <img src="assets/img/logo.png" alt="UP Xports logo" loading="lazy" />
            </picture>
          </a>
          <div id="toggle" class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start mob-vcenter">
            <a class="navbar-item is-centered" href="#services">
              <span class="icon has-text-success has-margin-right">
                <i class="icon-users"></i>
              </span>
              <span>About Us</span>
            </a>
            <a class="navbar-item is-centered" href="#products">
              <span class="icon has-text-warning has-margin-right">
                <i class="icon-box-open"></i>
              </span>
              <span>Products</span>
            </a>
            <a class="navbar-item" href="#contact">
              <span class="icon has-text-info has-margin-right">
                <i class="icon-file-signature"></i>
              </span>
              <span>Contact Us</span>
            </a>
          </div>
        </div>
        <div class="navbar-end">
          <a href="#" class="navbar-item is-hidden-touch">
            <span class="icon has-text-link">
              <i class="icon-facebook-f"></i>
            </span>
          </a>
          <a href="#" class="navbar-item is-hidden-touch">
            <span class="icon has-text-danger">
              <i class="icon-instagram"></i>
            </span>
          </a>
          <div class="navbar-item is-hidden-touch">
            <div class="field is-grouped">
              <p class="control">
                <span class="button is-danger has-text-weight-bold">
                  <span class="icon">
                    <i class="icon-phone" data-fa-transform="rotate-90"></i>
                  </span>
                  <span>
                    +91-8675 1313 85
                  </span>
                </span>
              </p>
              <p class="control is-hidden-desktop-only">
                <span class="button is-purple has-text-weight-bold">
                  <span class="icon">
                    <i class="icon-envelope"></i>
                  </span>
                  <span>
                    upxports@gmail.com
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body has-css_bg remove-vh">
      <div class="container">
        <div class="columns">
          <div class="column hero-content vcenter">
            <p class="has-text-grey-lighter is-size-6 is-size-6-mobile has-slidein-animation has-text-centered-in-mob">
              WELCOME TO UP XPORTS
            </p>
            <h1 class="is-size-2 is-size-4-mobile has-margin-bottom-3 has-slidein-animation has-text-centered-in-mob">
              We are an up &amp; coming <strong>international</strong> merchant
              exporters based in <strong>Tamil Nadu</strong> trading
              <strong>wide range</strong> of commodities globaly.
            </h1>
            <div class="hero-buttons has-margin-bottom-5-in-mob">
              <a href="#products" class="button is-purple is-large">
                <p class="has-slidein-animation">
                  <span>View<strong> Products </strong></span>
                </p>
              </a>
              <h2 class="has-text-grey-light has-custom-width-1 has-text-centered-in-mob has-slideinh-animation">
                from manufactures valuing
                <strong class="has-text-grey-light ">
                  quality & exellence</strong>
              </h2>
            </div>
          </div>
          <div class="column is-narrow">
            <figure class="image has-zoomin-animation">
              <picture>
                <source type="image/webp" srcset="assets/img/hero.webp">
                <source type="image/png" srcset="assets/img/hero.png">
                <img src="assets/img/hero.png" alt="Exports cartoon" loading="lazy" />
              </picture>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="section is-medium">
    <div class="container">
      <header class="has-text-centered">
        <h3 class="title is-size-4-mobile has-margin-bottom-3">
          We provide an
          <span class="has-text-purple">exceptional</span> service
        </h3>
        <h4 class="subtitle is-4 is-size-5-mobile has-text-grey-light has-desktop-margin-bottom-0 has-margin-bottom-3">
          Quality at your doorsteps in no time
        </h4>
      </header>
      <div class="columns">
        <div class="column is-hidden-tablet">
          <div class="content">
            <p class="has-margin-bottom-1  is-size-5">
              We bring the best value to the customers by the trust and
              beliefs vested in us. Through experienced contacts, We provide a
              dedicated service with honesty and direct approach in all our
              dealings.
            </p>
          </div>
        </div>
        <div class="column custom is-hidden-tablet">
          <div>
            <div class="custom-container has-margin-bottom-2">
              <div class="has-marging-right-2">
                <span class="icon has-text-warning icon-center">
                  <i class="icon-industry-mob"></i>
                </span>
              </div>
              <div>
                <p class="title is-5 has-margin-bottom-3">
                  <strong>High grade</strong>
                </p>
                <p class="subtitle is-5 has-text-grey">
                  Sourcing from the
                  <strong class="has-text-grey">finest</strong>
                </p>
              </div>
            </div>
            <div class="custom-container has-margin-bottom-2">
              <div class="has-marging-right-2">
                <span class="icon has-text-link icon-center">
                  <i class="icon-headset-mob"></i>
                </span>
              </div>
              <div>
                <p class="title is-5 has-margin-bottom-3">
                  <strong>Live</strong>
                </p>
                <p class="subtitle is-5 has-text-grey">
                  <strong class="has-text-grey">Always</strong> in the loop
                </p>
              </div>
            </div>
            <div class="custom-container has-margin-bottom-2">
              <div class="has-marging-right-2">
                <span class="icon has-text-success icon-center">
                  <i class="icon-lock-mob"></i>
                </span>
              </div>
              <div>
                <p class="title is-5 has-margin-bottom-3">
                  <strong>Secure</strong>
                </p>
                <p class="subtitle is-5 has-text-grey">
                  <strong class="has-text-grey">Flexible</strong> & safe packaging
                </p>
              </div>
            </div>
            <div class="custom-container">
              <div class="has-marging-right-2">
                <span class="icon has-text-danger icon-center">
                  <i class="icon-shipping-fast-mob"></i>
                </span>
              </div>
              <div>
                <p class="title is-5 has-margin-bottom-3">
                  <strong>Prompt</strong>
                </p>
                <p class="subtitle is-5 has-text-grey">
                  Swift <strong class="has-text-grey">delivery</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-hidden-mobile">
          <div class="level has-margin-bottom-1">
            <div class="level-item  has-text-centered">
              <div>
                <p class="title is-4 has-margin-bottom-3">
                  <strong>High grade</strong>
                </p>
                <p class="subtitle has-text-grey has-margin-bottom-1">
                  Sourcing from the
                  <strong class="has-text-grey">finest</strong>
                </p>
                <span class="icon is-large has-text-warning">
                  <i class="icon-industry "></i>
                </span>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="title is-4 has-margin-bottom-3">
                  <strong>Live</strong>
                </p>
                <p class="subtitle has-text-grey has-margin-bottom-1">
                  <strong class="has-text-grey">Always</strong> in the loop
                </p>
                <span class="icon is-large has-text-link">
                  <i class="icon-headset"></i>
                </span>
              </div>
            </div>
            <div class="level-item has-text-centered ">
              <div>
                <p class="title is-4 has-margin-bottom-3">
                  <strong>Secure</strong>
                </p>
                <p class="subtitle has-text-grey has-margin-bottom-1">
                  <strong class="has-text-grey">Flexible</strong> & safe packaging
                </p>
                <span class="icon is-large has-text-success">
                  <i class="icon-lock"></i>
                </span>
              </div>
            </div>
            <div class="level-item has-text-centered ">
              <div>
                <p class="title is-4 has-margin-bottom-3">
                  <strong>Prompt</strong>
                </p>
                <p class="subtitle has-text-grey has-margin-bottom-1">
                  Swift <strong class="has-text-grey">delivery</strong>
                </p>
                <span class="icon is-large has-text-danger">
                  <i class="icon-shipping-fast"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="column is-hidden-mobile has-custom-width-3">
            <div class="content">
              <p class="is-size-4">
                We bring the best value to the customers by the trust and
                beliefs vested in us. Through experienced contacts, We provide a
                dedicated service with honesty and direct approach in all our
                dealings. We have dedicated professional staff for each field to
                get the best solution for your requirements.
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  
  <section id="products" class="section is-medium has-css_bg-color">
  {% for pro in products %}
    <div id="{{pro.title}}" class="modal">
      <div class="modal-background has-fadein-animation"></div>
      <div class="modal-card has-fadein-animation">
        <header class="modal-card-head">
          <p class="modal-card-title">{{pro.title | capitalize}}</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="content">
            <figure class="image is-4by3 is-hidden-desktop has-no-margin">
              <img class="lazy" data-src="{{pro.image1}}" alt="{{pro.title }}" loading="lazy" />
            </figure>
            <figure class="image is-16by9 is-hidden-touch has-no-margin">
              <img class="lazy" data-src="{{pro.image2}}" alt="{{pro.title}}" loading="lazy" />
            </figure>
            <p>
              {{pro.text}}
            </p>
            <h2 class="has-margin-bottom-2">{{pro.category | capitalize}}</h2>
          
            <div class="custom-container-2 is-hidden-tablet">
                {% for cat in pro.categories %}
                <div class="custom-container has-margin-bottom-2">
                  <div>
                    <figure class="image is-64x64">
                      <img class="lazy" data-src="{{cat.image}}" alt="{{cat.title}}">
                    </figure>
                  </div>
                  <div>
                    <p class="title is-5">
                      <strong>{{cat.title}}</strong>
                    </p>
                  </div>
                </div>
                  {% endfor %} 
              
            </div>
           <div class="custom-container-2 is-hidden-mobile">
                  {% for cat in pro.categories %}
              <div class="custom-container has-margin-bottom-2 has-custom-width-2">
                <div>
                  <figure class="image is-64x64">
                    <img class="lazy" data-src="{{cat.image}}" alt="{{cat.title}}">
                  </figure>
                </div>
                <div>
                  <p class="title is-5">
                    <strong>{{cat.title}}</strong>
                  </p>
                </div>
              </div>
               {% endfor %} 
            </div>
               
           <blockquote>
              {{pro.flagship}}
            </blockquote>   
           
        </section>
      </div>
    </div>
    {% endfor %}
   
    
    <div class="container">
      <header class="has-text-centered">
        <h3 class="title is-3 is-size-4-mobile has-margin-bottom-2">
          We offer a <span class="has-text-purple">wide range</span> of
          commodities
        </h3>
        <h4 class="subtitle is-4 is-size-5-mobile has-text-grey-light has-desktop-margin-bottom-0 has-margin-bottom-3">
          From manufacturers valuing quality
        </h4>
      </header>
      
      <div class="flex-block has-desktop-margin-bottom-1 ">
      {% for pro in products %}
        <div class="flex-item" >
          <div
            class="card has-shadow has-something product-bg  has-text-white has-radius has-equal-height lazy" data-bg="linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url({{pro.bgimage}})">
            <a class="modal-button" data-target="{{pro.title  }}">
              <div class="custom-card-content">
                <div class="content">
                  <p class=" title is-4 has-text-white has-text-centered">
                    {{pro.title | capitalize}}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
       {% endfor %}
       </div>
      </div>
    </div>
  </section>

  <section id="contact" class="section is-medium">
    <div class="container">
      <header class="has-text-centered">
        <h3 class="title is-3 is-size-4-mobile has-margin-bottom-2">
          Lets talk <span class="has-text-purple">business</span> now
        </h3>
        <h4 class="subtitle is-4 is-size-5-mobile has-text-grey-light has-desktop-margin-bottom-0 has-margin-bottom-3">
          We'd love to help you
        </h4>
      </header>
      <div class="custom">
        <form action="https://formsubmit.co/a.p.sitha@gmail.com" method="POST">
          <input type="hidden" name="_webhook" value="https://hooks.zapier.com/hooks/catch/5548722/obkodqq/">
          <div class="field is-horizontal">
            <div class="field-label is-medium is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Name" name="Name" required />
                  <span class="icon is-small is-left">
                    <i class="icon-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-medium is-normal">
              <label class="label">From</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" name="Email" required />
                  <span class="icon is-small is-left">
                    <i class="icon-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="tel" placeholder="Phone" name="Phone" required />
                  <span class="icon is-small is-left">
                    <i class="icon-phone" data-fa-transform="rotate-90"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-medium is-normal">
              <label class="label">Products</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <ul class="cboxtags">
                  {% for pro in products %}
                    <li><input type="checkbox" id="{{pro.title | capitalize}}" value="{{pro.title | capitalize}}" name="Products"><label
                        for="{{pro.title | capitalize}}">{{pro.title | capitalize}}</label></li>
                    {% endfor %}
                    <li><input type="hidden" name="_next" value="https://beta.upxports.com" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-medium is-normal">
              <label class="label">Message</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea name="Message" class="textarea" placeholder="Explain how we can help you"
                    required></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-medium"></div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="button is-purple" type="submit" value="Send">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  






