<nav class="navbar has-shadow is-fixed-bottom is-hidden-widescreen has-flex-props">
    <div class="navbar-item">
      <a class="button is-primary has-text-weight-bold" href="mailto:upxports@gmail.com">
        <span class="icon">
          <i class="icon-envelope"></i>
        </span>
        <span>
          Email Us
        </span>
      </a>
    </div>
    <div class="navbar-item">
      <a class="button is-danger has-text-weight-bold" href="tel:+91 86751 31385">
        <span class="icon">
          <i class="icon-phone"></i>
        </span>
        <span>
          Call Us
        </span>
      </a>
    </div>
  </nav>